:root {
--hero-button-blue:#5267DF;
--hero-button-white:#F7F7F7;
--text-color: #242A45;
--bg-color:#fff;
  }
  /* GLOBAL */
  html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
  }

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing:inherit;
  }

  *:focus{
    outline: 3px dashed var(--hero-button-blue);
    outline-offset: 3px;
  }

  /* FONTS */
  @font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Medium.woff2') format('woff2'),
        url('../fonts/Rubik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Regular.woff2') format('woff2'),
        url('../fonts/Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

  body{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Rubik' , sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  .main-content{
    flex-grow: 1;
  }

  /* VISUALLY-HIDDEN */
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  /* CONTAINER */
  .container{
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  /* BUTTON */
  .button{
    display: inline-block;
    border: 0;
    border-radius: 5px;
    font-family: 'Rubik';
    cursor: pointer;
  }


  /* ACCARDION START */
  .accardion {
    border-top: 1px solid rgba(36, 42, 69,0.15);
  }
  .accardion__item {
    border-bottom: 1px solid rgba(36, 42, 69,0.15);
  }
  .accardion__item-header {
    position: relative;
    display: flex;
    align-items:center;
    padding-top: 20px;
    padding-bottom: 13px;
  }
  .accardion__item-title {
    flex-grow: 1;
    margin: 0;
    margin-right: 24px;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    color: var(--text-color);
  }
  .accardion__item-header .accardion__item-title:hover{
    color: #FA5959;
  }
  .accardion__item-toggler {
    border:0;
    padding: 0;
    background-color:transparent;
    cursor: pointer;
  }

  .accardion__item-toggler:focus{
    outline: none;
  }
  .accardion__item-toggler::before{
    content: "";
    position:absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:transparent;
  }

  .accardion__item-toggler:focus::before{
    outline: auto;
  }
  .accardion__item-toggler-icon {
    display: block;
    width: 20px;
    height: 13px;
    color: var(--hero-button-blue);
  }
  .accardion__item--open .accardion__item-toggler-icon{
    transform: rotate(180deg);
    color: #FA5959;
  }

  .accardion__item-content {
    display: none;
    padding-top: 19px;
    padding-bottom: 29px;
    color: var(--text-color);
    opacity: 0.75;
  }
  .accardion__item--open .accardion__item-content{
    display: block;
  }
  .accardion__item-text {
    display: none;
    margin: 0;
  }
   /* ACCARDION END */

  /* SITE-HEADER START */
  .site-header {
    background-color: var(--bg-color);
    margin-top: 48px;
  }
  .site-header-wrapper {
    display: flex;
    align-items:center;
  }
  .site-header-logo-wrapper {
    display: flex;
    margin-right: 512px;
    align-items:center;
  }
  .header-logo{
    cursor: pointer;
  }
  .site-header-sitenav {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
  }
  .sitenav-info-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform:capitalize;
  }
  .item-first{
    margin-right: 32px;
  }
  .sitenav-item:not(:first-child){
    margin-right:48px;
  }
  .sitenav-link {
    display: flex;
    text-decoration: none;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-align: right;
    letter-spacing: 1.5px;
    color:var(--text-color);
  }

  .sitenav-link:hover{
    color: #FA5959;
  }
  .site-header__button {
    padding: 12px 32px 11px 34px;
    background-color: rgba(250, 89, 89, 1);
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    text-align: right;
    letter-spacing: 1.5px;
    color:var(--bg-color);
    border: solid 2px #FA5959;
  }

  .site-header__button:hover{
    color:rgba(250, 89, 89, 1);
    background-color:#fff;
    border: solid 2px #FA5959;
  }
  /* SITE-HEADER END */

  /* SITE-HERO START  */
  .site-hero {
    padding-top: 108px;
    z-index: 0;
    background-image: url(../img/hero-bg.svg);
    background-position: calc(50% + 705px) 244px;
    background-repeat: no-repeat;
    padding-bottom: 203px;
  }

  .hero-wrapper {
    position: relative;
    display: flex;
  }

  .hero-content-wrapper {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 540px;
    padding-top: 72px;
  }
  .hero-heading {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -0.15px;
    color: var(--text-color);
    margin-bottom: 24px;
  }
  .hero-text {
    color: var(--text-color);
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    opacity: 0.5;
    letter-spacing: normal;
    margin-bottom: 32px;
  }
  .hero-button-blue {
    padding: 10px 24px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
    color:var(--bg-color);
    background-color: var(--hero-button-blue);
    margin-right: 16px;
    cursor: pointer;
    border: 2px solid #5267DF;
  }

  .hero-button-blue:hover{
    color: rgba(82, 103, 223, 1);
    background-color: #fff;
    border: 2px solid #5267DF;
    cursor: pointer;
  }

  .hero-button-white {
    padding: 10px 24px;
    font-family: 'Rubik';
    font-style: normal;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
    color:var(--text-color);
    background-color: var(--hero-button-white);
    border: 2px solid  transparent;
  }

  .hero-button-white:hover{
    color:rgba(36, 42, 69, 1);
    background-color:#FFf;
    border: 2px solid  #5B6074;
  }
  .hero-image-wrapper{
    position: relative;
  }

  .hero-img{
    position: absolute;
    left: -1px;
    top: 8px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-left: 65px;
  }
  /* SITE-HERO  END  */

  /* SITE-FEATURES START */

  .site-features {
    padding-top: 0;
    z-index: 0;
    background-image: url(../img/hero-bg.svg);
    background-position: calc(50% - 579px) 423px;
    background-repeat: no-repeat;
    padding-bottom: 239px;
  }
  .features-content {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 540px;
    list-style: none;
    margin-right: auto;
    margin-left: auto;
  }
  .features-heading {
    padding-bottom: 16px;
    text-align: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 52px;
    letter-spacing: -0.1px;
    color: var(--text-color);
  }
  .features-text {
    text-align: center;
    align-items: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color:var(--text-color);
    padding-bottom: 72px;
    opacity: 0.5;
  }
  .features-list {
    position: relative;
    margin: 0;
    padding: 0;
    justify-content: center;
    list-style: none;
    display: flex;
  }

  .features-link{
    text-decoration: none;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.5px;
    color: var(--text-color);
    border-bottom: 4px solid transparent;
    margin-bottom: 104px;
  }
  .features-link:hover{
    color: #FA5959;
  }
  .features-link:active{
    opacity: 0.6
  }
  .features-item{
    margin-bottom: 104px;
  }
  .features-item-active .features-link{
    color: var(--text-color);
    border-color: #FA5959;
  }
  .features-item:nth-child(2){
    padding-left: 90px;
    padding-right: 120px;
  }
  .simple-bookmarking-inner {
    display: block;
    position: relative;
    display: flex;
  }
  .simple-bookmarking-img {
    top: 101px;
    left: 4px;
  }
  .simple-bookmarking-content {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 130px;
    padding-top: 55px;;
  }
  .simple-bookmarking-heading {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 52px;
    letter-spacing: -0.1px;
    color: var(--text-color);
    padding-bottom: 16px;
  }
  .simple-bookmarking-text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color:var(--text-color);
    opacity: 0.5;
    padding-bottom: 32px;
  }
  .simple-bookmarking-button {
  padding: 10px 24px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  cursor: pointer;
  letter-spacing: 0.25px;
  color: #FFF;
  background-color:#5267DF;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border:0;
  border-radius: 5px;
  }
  /* SITE-FEATURES END */

  /* SITE-EXTENSION START */
  .extension-list{
  position: relative;
  margin: 0;
  padding: 0;
  justify-content: center;
  margin-left: 30px;
  list-style: none;
  display: flex;
  align-items: flex-start;
  }

  .extension-item {
    width: 100%;
    max-width: 280px;
    margin-right: 32px;
    padding-top: 49px;
    padding-bottom: 24px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20012);
    background-image:url(../img/Combined\ Shape.svg);
    background-repeat: repeat-x;
    background-position:left 0px top 241px;
    border:0;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 149px;
    padding-top: 31px;
  }
  .extension-item:nth-child(2){
    margin-top: 30px;
  }
  .extension-item:last-child{
    margin-top: 60px;
  }
  .extension-img {
    width: 105px;
    height: 100px;
    margin-bottom: 32px;
  }
  .extension-heading {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.25px;
    color:var(--text-color);
    padding-bottom: 6px;
  }
  .extension-text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    color:var(--text-color);
    opacity: 0.5;
    padding-bottom: 60px;
  }
  .extension-button {
    padding:10px 35px;
    cursor: pointer;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.25px;
    color: var(--bg-color);
    background: var(--hero-button-blue);
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border:0;
    border-radius: 5px;
    border: 2px solid var(--hero-button-blue);
  }
  .extension-button:hover{
    background-color:var(--bg-color);
    color:var(--hero-button-blue);
    border: 0;
    border: 2px solid var(--hero-button-blue);
  }
  /* SITE-EXTENSION END */

/* FAQ START  */

.faq__inner{
  width: 100%;
  max-width: 540px;
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-right: auto;
  margin-left: auto;
}
.faq__accardion{
  width: 100% ;
  margin-bottom: 54px;
}
.tabs__panel--active{
  display: block;
}

/* FAQ END  */